div.cookieNotification
  p.hasEmoji we use them for dis
  .cookieConsentOptions
    .cookieConsentButtons
      button.allowCookies.solidButton yes
      button.denyCookies.outlineButton no
    a.underlineLink View policy