footer 
  .footerHeadingContainer
    h2 footer header
    a.solidButton(href='tel:248-922-7590') same number
  .footerContentContainer
    .footerCols
      .footerLocationCol
        h3 stuff
        span.haEmoji
          p addy line 1
          br
          p addy line 2
      .footerMenuCol
        h3 title
        .footerMenuLinksContainer
          a.nakedLink(href='/') linkName

      .footerSocialCol
        h3 social
        .footerSocialLinksContainer
          a.nakedLink(href='/') insta
    .footerLowerInfo
      a.nakedLink.credit(
        href='https://nye.design/',
        target='_blank',
        rel='noreferrer'
      ) Website by Nathan Nye
      a.nakedLink.privacyPolicy(href='/') Privacy Policy
      p.copyright copyright 2022
