nav.desktopNav 
  .logo
    p logo

  .navItems
    ul.navLinks
      li 
        a(href='/home') Home
      li
        a(href='/about') About
      li
        a(href='/services') Services
      li
        a(href='/our-team') Our Team

    a.solidButton.inverted(href='tel:248-922-7590') call us!

button.mobileMenuButton.solidButton =

.mobileMenuContainer
  .mobileMenuContent
    h3 funny thing
    .mobileLinksContainer
      a.mobileNavLink(href='/') Home
      a.mobileNavLink.active(href='/') Services
      a.mobileNavLink(href='/') Our Team
      a.mobileNavLink(href='/') About
      a.mobileNavLink.hasEmoji(href='tel:') Call Us!
