nav.desktopNav 
  .logo
    p logo

  .navItems
    ul.navLinks
      each link in menu.data.links
        li
          a(href=link.link.url)= link.link_label

    a.solidButton.inverted.nonNavLink(href='tel:' + contact.data.phone_number) call us!

button.mobileMenuButton.solidButton
  .hamburgerContainer
    span.hamburgerLine
    span.hamburgerLine

.mobileMenuContainer
  .mobileMenuContent
    h3 Where to next?
    .mobileLinksContainer
      each link in menu.data.links
        a.mobileNavLink(href=link.link.url)= link.link_label

      .mobileNavContactItem
        .twemojiReplace
          p ☎️
        a.mobileNavLink.hasEmoji(href='tel:' + contact.data.phone_number) Call us!
