nav.desktopNav 
  .logo
    p logo

  .navItems
    ul.navLinks
      each link in menu.data.links
        li
        a(href=link.link.url)= link.link_label

    a.solidButton.inverted(href='tel:' + contact.data.phone_number) call us!

button.mobileMenuButton.solidButton =

.mobileMenuContainer
  .mobileMenuContent
    h3 funny thing
    .mobileLinksContainer
      each link in menu.data.links
        a.mobileNavLink(href=link.link.url)= link.link_label

      a.mobileNavLink.hasEmoji(href='tel:' + contact.data.phone_number) Call us!
