nav.desktopNav 

    .mobileMenuContainer
        p lil symbol

    .logo
        p logo

    .navItems
        ul.navLinks
            li 
                a(href="/home") Home 
            li
                a(href="/about") About
            li
                a(href="/services") Services
            li
                a(href="/our-team") Our Team

        a.linkButton(href="tel:248-922-7590")