nav.desktopNav 
  .logo
    p logo

  .navItems
    ul.navLinks
      li 
        a(href='/home') Home
      li
        a(href='/about') About
      li
        a(href='/services') Services
      li
        a(href='/our-team') Our Team

    a.solidButton(href='tel:248-922-7590') call us!

button.mobileMenuButton lil icon for burger menu

.mobileMenuContainer
  .mobileMenuContent
    h3 funny thing
    .mobileLinksContainer
      a.mobileNavLink(href='/')
      a.mobileNavLink.hasEmoji(href='tel:')
