.preloaderContainer
  .preloaderContent
    .preloaderTextContainer
      h2 Welcome!
      img.emoji(src='./smiley.svg', alt='smiley face emoji')
      h3.preloaderNumber 0%
    .preloaderGradientContainer
      .gradient
