@use './utils/forward' as *

header.homeHeader
	display: flex
	justify-content: center
	align-items: flex-start

	.smallTextContainer
		display: flex
		align-items: baseline
		justify-content: space-between

	.nailsOnText
		text-align: right

	h2
		text-align: right

	img
		height: 42rem
		width: 100%
		object-fit: cover

.homeSplitLeft
	@include createClamp(2rem, 4rem, margin-right)

	img
		margin-top: 2rem

.homeSplitRight
	margin-top: 9rem

	img
		margin-top: 12rem

section#schedule
	display: flex
	flex-direction: column
	margin-left: auto
	margin-right: auto
	width: 100%

	@media screen and (min-width: 768px)
		flex-direction: row
		width: col(6)
	
.scheduleBlurb
	margin-bottom: 4rem

	@media screen and (min-width: 768px)
		margin-right: col(1)
		margin-bottom: 0

#scheduleRows
	flex-grow: 1
	min-width: 35rem

div.scheduleEntry
	display: flex
	flex-wrap: nowrap
	justify-content: space-between
	align-items: baseline
	padding-top: .5rem
	border-top: 1px solid
	flex-grow: 1

	&.todaysTheDay
		position: relative

		h4, p
			font-weight: 600

		h4
			transform: translateX(3rem)
			position: relative

			&:before
				content: ''
				width: 1.25rem
				height: 100%
				position: absolute
				left: -2rem
				background-repeat: no-repeat
				display: block
				top: 50%
				background-position: center center
				transform: translateY(-50%) rotate(-90deg)
				background-size: 100%
				background-image: url('~/shared/nomArrow.svg')

	&:not(:last-child)
		margin-bottom: 1.5rem

section.imageDuo
	display: flex
	justify-content: center

	figure 
		width: col(4)
		height: 50vh
		position: relative
		overflow: hidden

		img
			object-fit: cover
			width: 100%
			height: 160%
			position: absolute
			bottom: 0
			left: 0

	figure:not(:last-child)
		margin-right: 2rem
		margin-top: col(2)

		@media screen and (min-width: 768px)
			margin-top: col(1)

section#testimonials

div.testimonialHeadingContainer
	flex-grow: 1
	
	@media screen and (min-width: 768px)
		width: col(3)
		max-width: 45rem

	a.solidButton
		margin-bottom: 2rem

div#testimonialSliderContainer
	overflow-x: hidden
	position: relative

	&:after
		background: linear-gradient(90deg, rgba(42,39,43, 1) 12%, rgba(42,39,43, 0) 100%)
		height: 100%
		right: 0
		content: ''
		transform: scaleX(-1)
		top: 0
		z-index: z('gradient')
		display: block
		width: 12vw
		position: absolute

div#testimonialSlider
	display: inline-flex
	z-index: z('main') !important
	position: relative
	overflow-x: hidden

	.testimonialEntryContainer
		align-self: flex-start
		@include createClamp(2rem, 5.5rem, margin-right)
		width: 80vw
		z-index: z('main')
		position: relative

		&:first-child .testimonialEmoji, &:nth-child(9) .testimonialEmoji
			top: 0
			transform: translateY(-50%)
			right: 20%

		&:nth-child(2) .testimonialEmoji, &:nth-child(8) .testimonialEmoji
			bottom: 0
			transform: translateY(calc(-50% + 1em)) !important
			right: 38%
		
		&:nth-child(3) .testimonialEmoji, &:nth-child(11) .testimonialEmoji
			top: 12%
			transform: translateX(50%)
			right: 0

		&:nth-child(5) .testimonialEmoji, &:nth-child(10) .testimonialEmoji
			bottom: 28%
			left: 0
			transform: translateX(-50%)

		&:nth-child(11) .testimonialEmoji, &:nth-child(6) .testimonialEmoji
			bottom: 28%
			left: 0
			transform: translateX(-50%)

		&:nth-child(4) .testimonialEmoji, &:nth-child(7) .testimonialEmoji
			bottom: 0
			left: 19%
			transform: translateY(calc(-50% + 1em)) !important

		@media screen and (min-width: 768px)
			width: calc(25vw + 4rem)
			max-width: 40rem
			min-width: 25rem

	@media screen and (min-width: 768px)

		.testimonialEntryContainer:nth-child(1), .testimonialEntryContainer:nth-child(4)
			align-self: center

		.testimonialEntryContainer:nth-child(2n)
			align-self: flex-start

		.testimonialEntryContainer:nth-child(3)
			align-self: flex-end

.testimonialDraggerCursor
	position: fixed
	pointer-events: none
	z-index: z('main')
	transform: translate(-50%, -50%)
	display: none

	@media screen and (min-width: 768px)
		@include flexCenter

	.dragArrow
		width: 1.75rem
		height: 1.75rem
		background-image: url('~/shared/nomArrow.svg')
		background-repeat: no-repeat
		background-size: 100%

		&.right
			transform: rotate(-90deg)
		
		&.left
			transform: rotate(90deg)

	.dragInstructionCircle
		width: 4.75rem
		height: 4.75rem
		background: $pale
		margin-right: 1.25rem
		margin-left: 1.25rem
		border-radius: 6.5rem

.testimonialEntryContent
	border: solid 1px $pale
	background: $dark
	padding: 3rem
	border-radius: 1rem
	margin-bottom: .5rem

.testimonialInitialsContainer
	display: flex
	width: 4.5rem
	height: 4.5rem
	margin-bottom: 1rem
	border-radius: 2.25rem
	justify-content: center
	align-items: center
	background: $pale
	
	p
		text-transform: uppercase
		line-height: 1
		color: $dark

.testimonialEmoji
	position: absolute
	width: 3.25rem
	overflow: visible

	img
		width: 100%

section#servicesMarquee
	position: relative
	overflow-x: hidden

	&:after, &:before
		position: absolute
		height: 100%
		pointer-events: none
		left: 0
		top: 0
		content: ''
		z-index: z('gradient')
		background: linear-gradient(90deg, rgba(42,39,43, 1) 12%, rgba(42,39,43, 0) 100%)
		width: 12vw

	&:before
		right: 0
		left: unset
		transform: scaleX(-1)

	.servicesLink
		// background: $dark
		position: absolute
		top: 0
		z-index: z('main')
		@include flexCenter
		bottom: 0
		right: 0
		left: 0
		margin: auto

		.solidButton
			margin: 0

	span.marqueeRow
		display: inline-flex
		flex-wrap: nowrap
		white-space: nowrap
		align-items: baseline
		overflow: hidden

		span
			margin-right: .65ch
			@include createFontClamp(8rem, 16rem)
			font-family: $serif
			line-height: 1
			white-space: nowrap
			overflow: hidden
			letter-spacing: -.03em  
			font-weight: 200

section#notesAtBottom
	display: flex
	align-items: flex-start
	flex-direction: column

	@media screen and (min-width: 768px)
		flex-direction: row

		h2
			width: col(3)

		.notesEntry
			width: col(3)
