@use './utils/forward' as *

header#teamHeader
	@include flexCenter

	.headingContainer

		span
			display: flex
			align-items: flex-end

			h1
				margin-right: .25ch

		& > h1
			text-align: right

.dataPullContainer
	display: none

.teamMemojis
	position: relative
	display: grid
	justify-items: center
	gap: 2rem
	grid-template-columns: repeat(2, 1fr)

	& > .teamMemberContainer:nth-child(1)
		margin-top: 50%

	& > .teamMemberContainer:nth-child(n+3):nth-child(even)
		margin-top: -50%

	@media screen and (min-width: 768px)
		gap: 4rem
		grid-template-columns: repeat(4, 1fr)

		& > .teamMemberContainer:nth-child(1)
			margin-top: unset

		& > .teamMemberContainer:nth-child(n+1):nth-child(odd):nth-child(n+3)
			margin-top: 50%

		.teamMemberContainer
			width: calc(100% - 4rem)

		& > .teamMemberContainer:nth-child(n+3):nth-child(even)
			margin-top: unset

		& > .teamMemberContainer:nth-child(n+6):nth-child(even)
			margin-top: -50%
			
	&:after, &:before
		position: absolute
		height: 100%
		display: none
		pointer-events: none
		left: 0
		top: 0
		content: ''
		z-index: z('gradient')
		background: linear-gradient(90deg, rgba(42,39,43, 1) 12%, rgba(42,39,43, 0) 100%)
		width: 12vw

	&:after
		right: 0 !important
		left: unset
		transform: scaleX(-1) !important

.teamMemberContainer
	border-radius: 700px
	background: #D3CED4
	overflow: hidden
	@include createClamp(2rem, 4rem, padding)
	display: flex
	width: calc(100% - 2rem)
	@include createClamp(28rem, 50rem, height)
	justify-content: center
	align-items: center
	position: relative
	transition: $anim
	cursor: pointer

	@media screen and (min-width: 768px)

		&:hover
			opacity: .75
			transform: scale(.97)
			transition: $anim

	video, img
		height: 100%
		max-width: 13rem
		object-fit: contain

		@media screen and (min-width: 768px)
			max-width: 20rem
