@use './utils/forward' as *

header.servicesHeader
	@include flexCenter
	overflow-x: hidden

	div.headingContainer
		display: flex
		flex-direction: column

		@media screen and (min-width: 768px)
			flex-direction: row

		h1:nth-child(2)
			margin-top: 0

			@media screen and (min-width: 768px)
				margin-top: 0.5em

	.headerGradientContainer

section#serviceList
	
	@media screen and (min-width: 768px)
		width: col(8)
		margin-right: auto
		margin-left: auto

.serviceEntry
	padding-top: .75rem
	margin-bottom: 6rem
	max-width: 150rem
	position: relative

	@media screen and (min-width: 768px)
		margin-bottom: 12rem

	h2
		margin-bottom: 0

	button.hasArrow
		margin-left: auto

button.serviceSmallTop
	display: flex
	border: none
	width: 100%
	color: $pale
	background: none
	position: relative
	justify-content: flex-start
	align-items: center
	transition: $anim
	margin-bottom: 2rem

	&:hover
		opacity: .5
		scale: .995,
		transition: $anim

	span.topLine
		height: 1px
		background: $pale
		position: absolute
		top: -1rem
		width: 100%
		left: 0

	& > h4
		display: none
		@media screen and (min-width: 768px)
			display: block

	.hasArrow
		width: 2rem
		height: 2rem
		border: none 
		margin-left: auto
		background: transparent
		background-repeat: no-repeat
		background-position: 100%
		background-image: url('~/shared/nomArrow.svg')

.headingWithThumbnailContainer
	display: flex
	align-items: center
	padding-right: 4rem

	@media screen and (min-width: 768px)
		width: col(3)

.serviceContent
	
	@media screen and (min-width: 768px)

		.topBlurb
			margin-left: col(3) !important
			margin-right: col(1) !important

	h2 > img
		width: .65em
		margin-left: 1rem
	

img.serviceImageThumbnail
	width: 4.25rem
	object-fit: cover
	height: 4.25rem
	overflow: hidden
	border-radius: 5rem
	margin-right: 2rem
	margin-top: .5rem

.serviceImages
	width: calc(100vw - 4rem)

	@media screen and (min-width: 768px)
		width: col(2) 
		padding-right: 4rem

.serviceImagesSliderContainer
	overflow-x: hidden
	position: relative

.serviceImagesSlider
	position: relative
	display: inline-flex
	overflow: hidden
	height: 30rem

	&:after
		background: linear-gradient(90deg, rgba(42,39,43, 1) 12%, rgba(42,39,43, 0) 100%)
		height: 100%
		right: 0
		content: ''
		transform: scaleX(-1)
		top: 0
		z-index: z('gradient')
		display: block
		width: 12vw
		position: absolute

	figure
		opacity: 1
		width: calc(80vw - 4rem)
		height: 100%
		display: block

		&.active
			transition: $animExtended
			opacity: 1

			img
				// transform: translateX(0%) scale(1)
				transform-origin: center center
				transition: $animExtended

		&:not(:last-child)
			margin-right: 2rem

	img
		position: relative
		top: unset
		left: unset
		width: 100%
		height:  100%
		object-fit: cover 
		transform-origin: center center
		transition: $anim

		@media screen and (min-width: 768px)
			position: absolute
			width: 100%

			&:not(:last-child)
				margin-right: 0

	@media screen and (min-width: 768px)
		display: block
		padding-bottom: 100%
		border-radius: 4rem

		&:after
			display: none

		img
			top: 0
			left: 0
			height: 100%

		figure
			opacity: 0
			position: absolute
			width: 100% !important
			margin-right: 0 !important
			transition: $animExtended
			transform: scale(1.08)

			&.active
				opacity: 1
				transition: $animExtended
				transform: scale(1)

.serviceDetails
	display: flex
	justify-content: flex-start
	align-items: flex-start
	margin-top: 2rem
	will-change: height
	flex-direction: column
	overflow-y: hidden

	@media screen and (min-width: 768px)
		flex-direction: row


.desktopImageIndicator
	display: none
	margin-top: 2rem
	padding-right: 2rem
	padding-left: 2rem
	margin-left: auto
	margin-right: auto
	max-width: 30rem

	& > .indicatorStrip:not(:last-child)
		margin-right: 1.5rem

	@media screen and (min-width: 768px)
		display: flex
		justify-content: center

.mobileImageIndicator
	display: block
	margin-top: 1rem
	margin-left: 1rem

	@media screen and (min-width: 768px)
		display: none

button.indicatorStrip
	padding: 1.5rem 0rem
	border: none
	flex-grow: 1
	transition: $anim
	background: transparent

	.inner
		background: $pale
		width: 100%
		border-radius: 4rem
		height: .35rem

	&.active	
		flex-grow: .5

		.inner
			background: $purple

	@media (hover:hover)			
		&:hover
			opacity: .5
			transition: $anim


.serviceDescriptionContainer 
	width: 100%
	margin-top: 4rem
	display: grid
	gap: 4rem

	@media screen and (min-width:768px)
		width: col(4)
		grid-template-columns: repeat(2, 1fr)
		margin-top: 0

.serviceDescription
	width: 100%

	&:not(:last-child)
		margin-bottom: 4rem

		@media screen and (min-width: 768px)
			margin-bottom: 0

.priceEntry
	margin-top: 1.5rem
	margin-right: 1rem

.pricesContainer
	margin-top: 1rem