@use './utils/forward' as *

footer
  width: 100%
  background: $purple
  padding-top: 4rem
  padding-bottom: 2rem
  padding-left: 4rem 
  @include createClamp(2rem, 4rem, padding-left)
  @include createClamp(2rem, 4rem, padding-right)
  display: flex
  z-index: z('footer')
  flex-direction: column
  align-items: flex-start

  @media screen and (min-width: 768px)
    flex-direction: row

  a.solidButton
    background: $pale
    color: $purple

.footerHeadingContainer
  flex-grow: .375
  margin-bottom: 4rem
  
  @media screen and (min-width:768px)
    margin-bottom: 0
    width: col(3)

.footerContentContainer
  width: 100%

  @media screen and (min-width:768px)
    flex-grow: .5
    width: unset
.footerCols
  display: flex
  align-items: flex-start
  justify-content: space-between
  
.footerLocationCol, a.credit, .footerSocialCol, p.copyright
  width: 25%

.footerMenuCol, a.privacyPolicy
  width: 11%

.footerLowerInfo
  display: flex
  justify-content: space-between
  margin-top: 4rem

  @media screen and (min-width:768px)
    margin-top: 18rem