@use './utils/forward' as *

nav.desktopNav
	position: fixed
	display: none
	justify-content: space-between
	top: 0
	z-index: z('nav')
	align-items: center
	left: 0
	width: 100%
	padding: .75rem 2rem

	img.logo
		width: 3.75rem
		

	@media screen and (min-width: 768px)
		display: flex

	ul
		display: flex

		li
			margin-right: 2rem
			display: block

			&:last-child
				margin-right: 2rem

	.navItems
		display: flex
		align-items: center

		a
			transition: $anim
			font-size: 1.25rem !important

			&:hover
				opacity: .35
				transition: $anim

			&.activePage
				opacity: .35
		
			&.solidButton
				margin: 0 0 0 1.5rem

.mobileNavHeader
	display: flex
	position: fixed
	z-index: z('nav')
	top: 0
	left: 0
	justify-content: space-between
	padding-top: 2rem
	width: 100%
	padding-right: 2rem
	padding-left: 2rem

	.logo
		width: 4.5rem
		
	@media screen and (min-width: 768px)
		display: none

.logo
	border-radius: 0 !important

button.mobileMenuButton
	background: $pale
	margin-top: 0 !important
	padding: 1.5rem 3.5rem !important

	span.hamburgerLine
		width: 3rem
		display: block
		height: 1.5px
		background: $purple

		&:last-child
			margin-top: .75rem


div.mobileMenuContainer
	background: $dark
	position: fixed
	top: 0
	left: 0
	flex-direction: column
	justify-content: flex-end
	height: 100vh
	width: 100%
	z-index: z('mobile-menu')
	padding-left: 2rem
	padding-right: 2rem
	padding-bottom: 12rem

	a
		font-family: $serif
		font-size: 6.5rem
		line-height: 1
		@include has3D

		&:not(:last-child)
			margin-bottom: 1.5rem

		&.activePage
			opacity: .5
			position: relative

			&:before
				content: ''
				background-size: 100%
				width: 2.5rem
				top: 6px
				bottom: 0
				margin-top: auto
				margin-bottom: auto
				left: -3.25rem
				height: 2.5rem
				display: block
				position: absolute
				transform: rotate(-90deg)
				background-repeat: no-repeat
				background-position: center center
				background-image: url('~/shared/nomArrow.svg')

			// @include hasStaticArrow(1.5rem)
				
	@media screen and (min-width: 768px)
		display: none

.mobileLinksContainer
	display: flex
	margin-top: 2rem
	flex-direction: column

	a:nth-child(1), a:nth-child(2), a:nth-child(3)
		align-self: flex-start
	
	a:nth-child(3), a:nth-child(5)
		align-self: flex-end

.mobileNavContactItem
	display: flex
	flex-direction: row-reverse
	align-items: center

	img
		width: 3.75rem
		overflow: visible
		margin-right: 1.5rem
		@include has3D