@use './utils/forward' as *

div.preloaderContainer
  background: $dark
  position: fixed
  top: 0
  z-index: z('preloader')
  left: 0
  width: 100vw
  height: 100vh
  @include flexCenter
  display: none

.preloaderTextContainer
  position: absolute
  top: 0
  left: 0
  display: inline
  right: 0
  z-index: 2
  bottom: 0
  margin: auto
  @include flexCenter
  

.preloaderGradientContainer
  height: 60vh
  width: 60vh
  z-index: -1
  border-radius: 4000px
  background: $conical
  filter: blur(240px)
