$minWidth: 39rem
$maxWidth: 192rem
$totalColumns: 8

@function createPreferredClamp($minFont, $maxFont, $maxWidth, $minWidth)
  $slope: calc(($maxFont - $minFont) / ($maxWidth - $minWidth))
  $intersect: calc((-1 * $minWidth * $slope) + $minFont)

  $v: ($slope * 100)

  @return calc($intersect + ($v * 1vw))

@mixin flexCenter
  display: flex
  justify-content: center
  align-items: center

// Take col width, divide by columns, get %
@function col($colWidth)
  $w: percentage(calc($colWidth / $totalColumns))
  @return $w

@mixin createFontClamp($minFont, $maxFont)
  font-size: clamp($minFont, createPreferredClamp($minFont, $maxFont, $maxWidth, $minWidth),$maxFont)

@mixin createClamp($minVal, $maxVal, $property)
  #{$property}: clamp($minVal, createPreferredClamp($minVal, $maxVal, $maxWidth, $minWidth),$maxVal)

@function getClampVal($minVal, $maxVal)
  @return clamp($minVal, createPreferredClamp($minVal, $maxVal, $maxWidth, $minWidth),$maxVal)

// @mixin hasStaticArrow($width)
//   &
//     position: relative
//     transform: translate(1rem + $width)

//   &:before
//     content: ''
//     width: $width
//     height: 100%
//     position: absolute
//     left: 0
//     background-repeat: no-repeat
//     display: block
//     top: 50%
//     background-position: 100%
//     transform: translateY(-50%) rotate(-90deg)
//     background-image: url('~/shared/nomArrow.svg')