$pale: #f4f1e4
$dark: #2A272B
$gry: #d0cad1
$purple: #7926AB
$conical: conic-gradient(from 251.78deg at 58.19% 50%, #C6B5D0 0deg, #591A7F 71.25deg, #FC8EE4 210deg, #B5BED0 311.25deg, #C6B5D0 360deg)

$anim: cubic-bezier(.55,0,.45,1) all .23s
$animExtended: cubic-bezier(.55,0,.45,1) all .3s
$bounce: cubic-bezier(.47,1.64,.41,.8) all .4s

$sans: 'Neue Montreal'
$serif: 'Silk Serif'