$pale: #faf6e5
$dark: #2A272B
$gry: #D3CED4
$purple: #7926AB
$conical: conic-gradient(from 251.78deg at 58.19% 50%, #C6B5D0 0deg, #591A7F 71.25deg, #FC8EE4 210deg, #B5BED0 311.25deg, #C6B5D0 360deg)

$anim: cubic-bezier(.55,0,.45,1) all .25s
$gutter: createClamp(2rem, 4rem)

$sans: 'Neue Montreal'
$serif: 'Silk Serif'

$totalColumns: 8