@use './utils/forward' as *

@font-face 
  font-family: $sans
  src: url(../fonts/PPNeueMontreal-Book.woff2) format('woff2')
  font-weight: 300
  font-style: normal

@font-face
  font-family: $sans
  src: url(../fonts/PPNeueMontreal-Italic.woff2) format('woff2')
  font-weight: 300
  font-style: italic

@font-face
  font-family: $sans
  src: url(../fonts/PPNeueMontreal-Bold.woff2) format('woff2')
  font-weight: 700
  font-style: normal

  

@font-face
  font-family: $serif
  src: url(../fonts/SilkSerif-Light.woff2) format('woff2')
  font-weight: 200
  font-style: normal