extends ../layout.pug

block variables
  - var template = '404';
  - var metaTitle = 'Page not found';
  - var metaDescription = '';

block content
  #errorWrapper
    main
      h1= missing.data.heading
