extends ../layout.pug

block variables
  - var template = 'about';

block content
  main#aboutContent
    section.topBlurb
      h2 welcome to this page
      p we were founded in whenver the fuck

    section#locationContainer 
      h2 next to this
      #mapboxContainer
      .addressContainer
        h4 address line 1
        h4 address line 2

    section#valuesContainer
      .valuesEmojiContainer
        h2 vallys
        .valuesEmojis 
          img(src='', alt='')
      .valueEntry
        h3 title of this value
        p little about it
