extends ../layout.pug

block variables
  - var template = 'home';

block content
  header.homeHeader 
    .homeSplitLeft
      .smallTextContainer
        h4 est. 2010
        h2 Beauty By
      div 
        h1 Nails
        h1.onText on
        img
    .homeSplitRight
      h1 Main
      img

  main.homeContent
    section#schedule
      .scheduleBlurb
        h2 Schedule an appointment today!
        a.solidButton(href='tel:248-922-7590') call us today!
      #scheduleRows
        .scheduleEntry
          h4 Monday
          p 9:30 - 10:30
        .scheduleEntry.todaysTheDay
          h4 Monday
          p 9:30 - 10:30
    section.imageDuo
      img(src='', alt='')
      img(src='', alt='')
    section#servicesMarquee
      .servicesLink
        a.solidButton(href='/services') see our services!
      span.marqueeRow
        h1 Acrylics
        h1 Manicures
        h1 Dips
        h1 Gels
        h1 Frenches

    section#testimonials
      .testimonialHeadingContainer
        h2 We do some really great work, but don’t just take our word for it…
        //- need to generate this link from g-business
        a.solidButton(href='/') drop us a review!

      #testimonialSliderContainer
        .testimonialDraggerCursor
          #testimonialSlider
            .testimonialEntryContainer
              .testimonialEntryContent
                .testimonialInitialsContainer
                  p DD
                .testimonialTextContainer
                  h3 Diane Bailey
                  p Hands down THE BEST nail salon I have ever been to. Friendly atmosphere, along with outstanding, quality nails. I highly recommend them!
                .testimonialEmoji
                  p emoji here
              h4 1/4

    section.imageDuo

    section#notesAtBottom
      .notesEntry
        h3 plz let us know
        p the reasonable reason why
