extends ../layout.pug

block variables
  - var template = 'our-team';
  //- - var metaDescription =  

block content
  #ourTeamWrapper
    header#teamHeader
      .headingContainer
        span
          h1 Our
          h2 (awesome)
        h1 Team
      .topCurve
    .headerGradientContainer
    .contentContainer
      .contentCurve
      main#teamContent
        section.topBlurb.hasEmoji
          h2= our_team.data.small_blurb
        section.teamMemojis
          each person in team_members
            .teamMemberContainer
              img(data-src=person.data.memoji.url)
              //- h2= person.data.name

        .teamMemberInfoPopup
          button.closeInfoPopup 
          .teamMemberContent 
            .memojiContainer
            span
              h2 name
              h3 title
            p something about me
            .teamMemberSocial
              h4 i love social bitch
              a.solidButton(href='/') insta bitch

        .teamMemberOverlayBacker
