extends ../layout.pug

block variables
  - var template = 'our-team';

block content
  #ourTeamWrapper
    header#teamHeader
      .headingContainer
        span
          h1 Our
          h2 (awesome)
        h1 Team

    .headerGradientContainer
    .contentContainer
      .contentCurve
      main#teamContent
        section.topBlurb.hasEmoji
          h2 stuff and things

        section.teamMemojis
          p stuff goes here that will take awhile to get

        .teamMemberInfoPopup
          button.closeInfoPopup 
          .teamMemberContent 
            .memojiContainer
            span
              h2 name
              h3 title
            p something about me
            .teamMemberSocial
              h4 i love social bitch
              a.solidButton(href='/') insta bitch

        .teamMemberOverlayBacker
