@use './utils/forward' as *
@use './base/fonts'

@use './base/reset'
@use './pages/home'
@use './pages/services'

@use './components/nav'
@use './components/cookie'
@use './components/footer'
@use './components/preloader'


html
	background: $dark
	color: $pale
	font-size: 62.5%
	font-family: $sans
	overflow-x: hidden

	// @media screen and (max-width: 1024px)
	// 	font-size: calc(100vw / 1024 * 10)

	// @media screen and (max-width: 768px)
	// 	font-size: calc(100vw / 768 * 10)

// Typography
h1
	@include createClamp(8rem, 16rem)
	font-family: $serif
	font-weight: 200
	line-height: 1
	letter-spacing: -.03em  

h2
	@include createClamp(4rem, 5rem)
	line-height: 1.05
	font-family: $serif
	font-weight: 200
	letter-spacing: -.03em


h3
	@include createClamp(1.8rem, 2.25rem)
	font-family: $sans
	font-weight: 400
	margin-bottom: .5rem
	letter-spacing: -.02em

a, button
	@include createClamp(1.3rem, 1.75rem)
	font-family: $sans
	font-weight: 300
	cursor: pointer 

h4
	text-transform: uppercase

p, h4
	font-family: $sans
	font-weight: 300
	color: $gry
	@include createClamp(1.6rem, 2rem)

a
	text-decoration: none
	display: inline-block
	color: $pale

	&.solidButton
		margin-top: 1.5rem
		padding: .75rem 2.25rem
		font-size: 1.3rem
		background: $purple
		color: $pale
		text-transform: uppercase
		border-radius: 6rem

		&.inverted
			color: $purple
			background: $pale

	&.nakedLink
		text-decoration: underline
		color: $gry

.outlineBubble
	border-radius: 6rem 
	padding: 1.25rem 2.25rem
	display: inline-block
	border: 1px solid $pale

section 
	margin-bottom: 15rem
	margin-right: auto
	margin-left: auto

header
	position: relative
	min-height: 50vh
	z-index: z('header')

	// &::after
	// 	width: 140vw
	// 	display: block
	// 	position: absolute
	// 	top: -200px
	// 	right: 0
	// 	z-index: -1
	// 	margin-left: auto
	// 	margin-right: auto
	// 	left: 0
	// 	height: 140vh
	// 	background-image: $conical
	// 	filter: blur(240px)
	// 	content: ''
		
main
	background: $dark
	padding-top: 10rem

img
	border-radius: 2rem

.topBlurb
	margin-left: 33%