@use './utils/forward' as *
@use './base/fonts'

@use './base/reset'
@use './pages/home'
@use './pages/about'
@use './pages/services'
@use './pages/our-team'
@use './pages/privacy'
@use './pages/error'

@use './components/nav'
@use './components/cookie'
@use './components/footer'
@use './components/teamPopup'
@use './components/preloader'

html
	background: $dark
	color: $pale
	font-size: 62.5%
	font-family: $sans
	overflow-x: hidden

body
	overflow-x: hidden

::selection
	background: $pale
	color: $dark

// Typography
h1
	@include createFontClamp(7rem, 16rem)
	font-family: $serif
	font-weight: 200
	line-height: 1
	letter-spacing: -.03em  
	will-change: transform
	font-kerning: none

h2
	@include createFontClamp(3.5rem, 5rem)
	line-height: 1.05
	font-kerning: none
	font-family: $serif
	font-weight: 200
	letter-spacing: -.03em
	margin-bottom: 1.5rem

h3
	@include createFontClamp(1.8rem, 2.25rem)
	font-family: $sans
	font-weight: 400
	margin-bottom: .5rem
	letter-spacing: -.005em

a, button:not(button.serviceSmallTop)
	@include createFontClamp(1.55rem, 1.75rem)
	font-family: $sans
	font-weight: 300
	cursor: pointer 

button:hover
	cursor: pointer

ul
	li:not(:last-child)
		margin-bottom: .5rem

h4
	text-transform: uppercase
	letter-spacing: .06em
	font-weight: 500
	@include createFontClamp(1.4rem, 1.7rem)

p
	@include createFontClamp(1.7rem, 2rem)

p, h4
	font-family: $sans
	font-weight: 300
	color: $gry

a
	text-decoration: none
	display: inline-block
	color: $pale

	&.nakedLink
		text-decoration: underline
		color: $gry

.solidButton
	margin-top: 1.5rem
	padding: 1.35rem 2.75rem
	font-size: 1.3rem
	background: $purple
	letter-spacing: .045em
	color: $pale
	text-transform: uppercase
	border-radius: 6rem
	overflow: hidden
	border: none
	position: relative
	font-weight: 500
	transition: $bounce

	&.inverted
		color: $purple
		background: $pale
		transition: $bounce

	@media (hover: hover)

		&:hover
			background: $dark
			color: $pale
			outline: 1px solid $pale
			transition: $bounce
			transform: scale(1.04)

		&.inverted

			&:hover
				background: $dark
				color: $pale
				outline: 1px solid $pale
				transition: $bounce
				transform: scale(1.04)
				
.outlineBubble
	border-radius: 6rem 
	padding: 1.25rem 2.25rem
	display: inline-block
	font-weight: 500
	font-size: 1.35rem
	border: 1px solid $pale
	background: transparent
	text-transform: uppercase

section:not(section.content)
	@include createClamp(12rem, 18rem, margin-bottom)
	margin-right: auto
	margin-left: auto

header
	position: relative
	min-height: 92vh
	z-index: z('header')
	overflow: hidden
	padding-top: 17rem

	h1, h2, h3
		transform: perspective(300px)
		transform-style: preserve-3d

	&:not(.homeHeader)
		padding-bottom: 10rem

.headerGradientContainer
	width: 150vw
	display: block
	position: absolute
	top: -10%
	right: 0
	left: -25vw
	z-index: -1
	margin-left: auto
	margin-right: auto
	height: 200vh
	overflow: visible
	// background-image: $conical
	// filter: blur(50px)
	content: ''

	// .gradient
	// 	border-radius: 0

.gradient
	position: relative
	top: 0
	left: 0
	width: 100%
	height: 100%
	filter: blur(72px)
	background: $conical

.scrollWrapper
	will-change: transform

main
	background: $dark
	padding-top: 1.5rem
	@include createClamp(2rem, 4rem, padding-left)
	z-index: z('main')
	@include createClamp(2rem, 4rem, padding-right)
	max-width: 150rem
	margin-left: auto
	position: relative
	margin-right: auto

.topCurve
	background: $dark
	position: absolute
	bottom: 0
	left: -5%
	width: 110%
	clip-path: ellipse(50% 100% at 50% 100%)
	@include createClamp(5.25rem, 12rem, height)

img, figure
	border-radius: 2rem
	transform: translateZ(0)
	will-change: transform

.contentContainer
	background: $dark
	@include createClamp(11rem, 15rem, padding-bottom)

section.topBlurb
	margin-left: 0
	width: 100%

	@media screen and (min-width: 768px)
		margin-left: col(3)
		width: col(4)

.twemojiReplace
	display: none

	img
		border-radius: 0 !important